body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: 
    linear-gradient(rgba(161,214,226,.5),
    rgba(161,214,226,.5)),
    url(WorkingTogether.jpg);
}
/* Title and Description */
#title {
    display: flex;
    justify-content: center;
    color: #000000
}
#description {
    display: flex;
    justify-content: center;
    color: #000000;
    margin-left: 15px;
}
.label-format {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
    padding-bottom: 2%;
}
#survey-form {
    background-color: #1995AD;
    color: #F1F1F2;
    margin-left: 30%;
    margin-right: 30%;
    border: 5px solid #1995AD;
    border-radius: 9px;
    font-size: 24px;
    margin-bottom: 20px;
}
.button-class {
    display: flex;
    justify-content: center;
}

@media(max-width: 400px) {
    #survey-form {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        overflow: hidden;
    }
    .label-format {
        padding-left: 0;
        padding-right: 0;
    }
    #name-label {
        padding-left: 0;
        font-size: 20px;
    }
    #name-label {
        display: flex;
        justify-content: flex-end;
        margin-right: 200px;
        font-size: 24px;
    }
    .form-inputs {
        display: flex;
        justify-content: flex-end;
        margin-left: -62px;
        width: 300px;
        height: 28px;
        font-size: 18px;
        margin-top: 10px;
        border-radius: 7px;
    }
        #email-label {
        display: flex;
        justify-content: flex-end;
        margin-right: 200px;
        font-size: 24px;
        margin-left: -5px;
    }
        #number-label {
        display: flex;
        justify-content: flex-end;
        margin-right: 220px;
        padding-right: 2px;
        font-size: 24px;
        margin-left: -21px;
    }
        #dropdown-label {
        display: flex;
        justify-content: flex-end;
        padding-right: 2px;
        font-size: 20px;
        margin-left: -63px;
    }
        #recommendation-label {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        margin-left: -63px;
    }
        .recommendation-radio-selection {
            margin-left: -68px;
            font-size: 20px;
        }
        #subject-label {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        margin-left: -63px;
    }
        .subject-checkbox-selection {
        margin-left: -68px;
        font-size: 20px;
    }
        #suggestion-label {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        margin-left: -63px;
    }
        #suggestionComments {
        margin-left: -68px;
        width: 320px;
        margin-top: 7px;
    }
    button#submit {
        width: 325px;
        margin-left: -67px;
        height: 32px;
        border-radius: 7px;
        font-size: 19px;
    }
}

@media(min-width: 401px) {
    .form-inputs {
        display: flex;
        justify-content: flex-end;
        margin-left: -150px;
        width: 640px;
        height: 28px;
        font-size: 18px;
        margin-top: 10px;
        border-radius: 7px;
    }
        #name-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #email-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #number-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #dropdown-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #recommendation-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #subject-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
            #suggestion-label {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        margin-left: -150px;
    }
    .recommendation-radio-selection {
        font-size: 20px;
        margin-left: -150px;
    }
        .subject-checkbox-selection {
        font-size: 20px;
        margin-left: -150px;
    }
    #suggestionComments {
        font-size: 20px;
        margin-left: -150px;
        width: 650px;
    }
    button#submit {
        width: 657px;
        margin-left: -150px;
        height: 35px;
        border-radius: 7px;
        font-size: 19px;
    }
}

/* Footer */

footer#contactMe {
    box-sizing: border-box;
    bottom: 0px;
    width: 100%;
    background: #000000;
    color: white;
}

.footer-main-content {
display: flex;
}

.footer-main-content .box {
flex-basis: 50%;
padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .footer-content {
    margin: 20px 0 0 0;
}

.left .footer-content .footer-social {
margin: 20px 0 0 0;
}

.left .footer-content .footer-social a{
    padding: 0 2px;
}

.left .footer-content .footer-social a i{
height: 40px;
width: 40px;
background: white;
color: #000000;
line-height: 40px;
text-align: center;
font-size: 28px;
border-radius: 5px;
transition: 0.3s;
}

.center .footer-content .fas {
    font-size: 1.5rem;
    background: #1995AD;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.center .footer-content .text {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 10px;
}

.right form .msg {
    margin-top: 10px;
}

.right form .text {
    font-size: 1.1rem;
    margin-bottom: 2px;
    color: white;
}

.right form input, .right form text {
width: 100%;
font-size: 1.1rem;
background: black;
padding-left: 10px;
border: 1px solid white;
}

.right form input, .right form textarea {
    width: 60%;
    font-size: 1.1rem;
    background: white;
    padding-left: 10px;
    border: 1px solid white;
}

.right form input {
    height: 20px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 63%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    background: #1995AD;
    color: white;
    border-radius: 5px;
}